img{
    height: 570px;
    width: 100vw;
    position: relative;
    object-fit: cover; 
}

.header h1{
    position: absolute;
    top: 19%;
    left: 40%;
    color: white;
    font-size: 82px;
    font-style: italic;
    font-weight: 800;
}
.header h4{
    position: absolute;
    top: 38%;
    left: 41%;
    color: white;
    font-size: 35px;
    width: 700px;
    margin-left: -110px;
    font-weight: 400;
    word-spacing: 2px;
    margin-top: 37px;
}
.header span{
    margin: 120px;
}
.profile-icon {
  position: absolute;
  top: 20px;       
  right: 20px;     
  width: 40px;
  height: 40px;
  border-radius: 50%;   
  border: 2px solid white; 
  cursor: pointer;
}
.nav{
    position: absolute;
    top: 3%;
    color: white;
    font-size: 19px;
    right: 20%;


}
a{
    margin: 15px;
    cursor: pointer;
}
.wrong p{
    display: none;
    color: "black";
    position:"absolute";
     top: "3%";
    font-size:"10px"
}
.hamburger p{
    display: none;
    position: absolute;
    top: -12px;
    font-size: 30px;
    color: white;
    padding: 10px;
  
}
.nav h4{
   display: none;
}
/* .login{
    display: none;
}
.login.active{
    display: block;
} */
.login{
    box-sizing: border-box;
    height: 65vh;
    width: 28vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    display: none;
    position: fixed;
    position: absolute;
    left: 600px;
    top: 90px;
    z-index: 2;
    

}
.login p{
    cursor: pointer;
}
body.darkBg{
   background-color: rgb(0, 0, 0);
   height: 100vh;
   color: black;
   
}
.section p.darkBg{
    color: black
}

.header.dark {
  filter: brightness(10%);
}


.login.active{
    display: block;
    background-color: white;
    position: fixed;
    
}
.login.inactive{
    display: none;
}
.login.active body{
    background-color: rgba(0, 0, 0, 0.5);
}

.login-top{
    display: flex;
    justify-content: space-between
}
.login-top p{
    padding: 25px;
    
}
.login-top h3{
    font-size: 30px;
    color: gray;
    padding-left: 30px;
}
.loginbody{
    width: 80%;
    margin-left: 33px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 98, 98);
    border-radius: 5px;
    padding: 5px;
}
.loginbody img{
    height: 25px;
    width: 40px;
    padding: 0px 10px;
    margin-right: 5px;
    margin-bottom: -7px;
}
.loginbody span{
   padding-right: 5px;

    
}

input[type="text"]{
    
    border-left: 1px solid black;
    padding: 5px;
    border: 2px solid white;
  
}
input[type="text"]::placeholder{
    font-size: 20px;
    

}
.logindown{
    text-align: center;
}
.logindown p{
    font-size: 15px;
    width: 76%;
    /* height: 5%; */
    background-color: rgb(240, 4, 4);
    padding: 10px;
    margin-left: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-left: 30px;
    
}
.logindown1 span{
    font-size: 16px;
}
.logindown1{
    border: 2px solid rgba(0, 0, 0, 0.304);
    width: 76%;
    padding: 8px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    margin-left: 30px;
}
.logindown1-inner {
    height: 30px ;
   font-size: 30px;
    color: red;
    padding: 10px;
}
.logindown1 img{
    height: 20px;
    width: 20px;
    margin-bottom: -5px;
}
.down{
    /* padding-top: 10px;
    margin-left: 10px; */
    padding: 20px;

}

.signup.active{
    display: block;
}

.signup{
    
    display: none;
    box-sizing: border-box;
    height: 505px;
    width: 450px;
    border: 2px solid white;
    border-radius: 10px;
    position: fixed;
    position: relative;
    position: absolute;
    top: 100px;
    left: 600px;
    background-color: white;
    margin-bottom: -520px;
    z-index: 2;   
    
}
.signuptop{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -25px;

}
.signuptop p{

height: 25px;
font-size: 20px;
cursor: pointer;
}
.signuptop h3{
    font-size: 29px;
    padding: 0;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.715);

}
.signup-text input[type="text"]{
    border: 2PX solid rgba(0, 0, 0, 0.268);
    width: 350px;
    border-radius: 5px;
    margin: 7px;
    margin-left: 30px;
    padding: 15px;
}
.signup-text input[type="text"]::placeholder{
    font-size: 16px;
}
.signup-checkbox input[type="checkbox"]{
    padding: 5px;
    margin-top: 10px;
    
}
.signup-checkbox{
    margin-left: 30px;
}
.signup-checkbox p{
    position: absolute;
    top: 41%;
    left: 12%;
    width: 350px;
    font-size: 13px;

}
.sigupdown1{
    padding: 40px;


}
.sigupdown1 p{
    margin-top: -2px;
    margin-bottom: -10px;
    width: 350px;
    border: 2px solid rgba(128, 128, 128, 0.101);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.541);
    color: white;
}
.sigupdown1{
    text-align: center;
   
    
}

.signupdown2{
    width: 350px;
    border: 2px solid rgba(0, 0, 0, 0.144);
    margin-top: -20px;
    margin-left: 35px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.signupdown2 img{
    height: 30px;
    width: 30px;
}
.signupdown2 span{
    font-size: 40px;
}
.signupdown2 p{
    margin-top: -5px;
}
.sinupdown3{
    padding: 25px;
}






 @media(max-width: 400px) {
    img{
        height: 1600px;
        width: 1520px;
        
    }
    .header h1{
        position: absolute;
        top: 60%;
        left: 79%;
        font-size: 240px;
       
    }
    .header h4{
        position: absolute;
        top:120%;
        left:90%;
        color: white;
        font-size: 70px;
        word-spacing: 2px;
        width: 1000px;    
    }
    
    .hamburger p{
   
        padding: 10px;
        padding-left: 65px;
        font-size: 100px;
        display: block;
    }
    .nav{
         width: 200%;
    
        display: none;
        /* font-size: 50px;
        display: flex;
        flex-direction: column;
        padding: 60px;
        justify-content: center;
        margin-top: 140px;
        top: 90%;
        left: 40%;
        
        background-color: white; */
        

       
    }
    a{
        padding-top: 100px;
        padding-left: 100px;
        font-size: 80px;
        color: gray;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    body.active{
        background-color: white;
     }
    .nav.active{
        display: block;
         width: 200%;
     
        font-size: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        top: 0%;
        left: 0%;
        padding-top: 400px;
        padding-bottom: 800%;
        padding-left: 30%;
        padding-right: 190%;
        background-color: white;
        z-index: 2;
    } 
    .nav .wrong p{
        display: block;
        color: black;
        position: absolute;
        top: 1%;
        font-size: 90px;
    }
    .nav h4{
        display: block;
        color: black;
        top: 4%;
        left: 67%;
        font-size: 90px;
        font-weight: 800;
        font-style: italic;
    } 
    /* .login{
    box-sizing: border-box;
    height: 60vh;
    width: 55vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    display: none;
    
    position: absolute;
    left: 700px;
    top: 100px;
    z-index: 2;
    

} */
.login{
    
    height: 360vh;
    width: 400vw;
   
    z-index: 2;  
    position: absolute;
    /* position: sticky; */
    left: 0;
    top: 490px;
    z-index: 2;  
    border: 2px solid black;
}
.login-top h3{
    font-size: 100px;
    color: gray;
    padding-left: 60px;
    padding-top: 100px;
} 
.login-top p{
    font-size: 70px;
    padding: 100px;

    
}
.loginbody{
    width: 85%;
    margin-left: 73px;
    border-radius: 5px;
    padding: 40px;
}
.loginbody img{
    height: 62px;
    width: 70px;
    padding-right: 25px;
    margin-right: 5px;
    margin-bottom: -5px;
}
.loginbody span{
    font-size: 50px;
   padding-right: 65px;

    
}

input[type="text"]{
    
    border-left: 1px solid black;
    padding: 30px;
    border: 2px solid white;
  
}
input[type="text"]::placeholder{
    font-size: 50px;
    

}
.logindown p{
    font-size: 55px;
    width: 80%;
    padding: 35px;
    border-radius: 5px;
    margin-left: 77px;
    margin-top: 45px;
    
}
.logindown i{
    font-size: 55px;
}
.logindown1 span{
    font-size: 49px;
    padding: 20px;
    
}
.logindown1{
    border: 2px solid rgba(0, 0, 0, 0.304);
    width: 80%;
    padding: 50px;
    border-radius: 10px;
     margin-top: 80px;
    /* margin: 20px; */
    text-align: center;
    margin-left: 75px;
   

}
.logindown1-inner{
   font-size: 30px;
    color: red;
    padding: 30px;
}
.logindown1 img{
    height: 6%;
    width: 60px;
    margin-bottom: -10px;
}
.down{
    /* padding-top: 10px;
    margin-left: 10px; */
    padding-left: 70px;
    padding-top: 120px;
    font-size: 55px;

}
body.no-scroll {
  overflow: hidden;
}

.signup{
    box-sizing: border-box;
    height: 2700px;
    width: 1500px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    position: fixed;
    top: 400px;
    left: 0px;
    margin-bottom: 50px;
    
    
}
.signuptop h3{
    font-size: 90px;
    padding: 20px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.715);

}
.signuptop p{
    font-size: 200px;
    padding: 90px;
}
.signup-text input[type="text"]{

    width: 1050px;
    height: 90px;
    padding: 30px;
    margin: 40px;
    margin-left: 150px;

}
.signup-text input[type="text"]::placeholder{
    font-size: 49px;
    padding: 10px;
}
.signup-checkbox input[type="checkbox"]{
    padding: 20px;
    margin-top: 25px;
    margin-left: 120px;
     width: 55px;
  height: 55px;
  border: 2px solid black;
}
.signup-checkbox p{
    position: absolute;
    top: 27%;
    left: 15%;
    width: 1100px;
    font-size: 46px;

}
.sigupdown1 p{
    margin-top: 160px;
    margin-bottom: 30px;
    margin-left: 100px;
    width: 1050px;
    padding: 36px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
}
.sigupdown1 i{
    font-size: 70px;
 
}
.signupdown2{
    width: 1050px;
    border: 2px solid rgba(0, 0, 0, 0.144);
    margin-top:  20px;
    margin-left: 145px;
    font-size: 30px;
    padding: 45px;
    border-radius: 5px;
    text-align: center;
}
.signupdown2 img{
    height: 60px;
    width: 60px;
    margin-bottom: -5px;
}
.signuptop p{
    margin: 23px;
    font-size: 40px;
}
.signupdown2 span{
    font-size: 50px;
    padding: 20px;
}
.sinupdown3{
    padding: 45px;
    font-size: 50px;
    margin-top: 30px;
}
    
    
} 

